@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Body styles */
body{
    margin: 0px;
    padding: 0px;
}
/* Header Styles */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #EDEDED;
}

header .container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .container .content-img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .content-img img{
    width: 100%;
}

header .container .content-nav{
    width: 60%;
}

header .container .content-nav nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .container .content-nav nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

header .container .content-nav nav ul li{
    padding: 5px 10px ;
    font-family: 'Source Code Pro', monospace;
}

header .container .content-nav nav ul li a{
    text-decoration: none;
    font-size: 1.2em;
}

header .container .content-logs{
    width: 20%;
    display: flex;
}

header .container .content-logs div{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .container .content-logs div:nth-child(1){
    display: flex;
    justify-content: end;
    margin-right: 3px;
}

header .container .content-logs div:nth-child(2){
    justify-content: start;
    display: flex;
    margin-left: 3px;
}

header .container .content-logs div a svg{
    width: 1.8rem;
    height: 1.8rem;
}
/* End Header Styles */

/*main styles carolina */

main{
    background-color: teal;
}

#container{
    width:100%;
    height:100vh ;
    background-color:lightgoldenrodyellow;
    padding: 5px;
    border: solid 1px #000;



}
#caja1{
    height: 50vh;
    background-color:hotpink;
    display: flex;
    border-image-width:1980 ;
   
    
 }
 .foto1{
    padding: 10px; margin: 10px; border: 2px solid black; float: left;width: 35%;
 }
 .texto1{
    
 }
 .tcenter{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

#caja2{
    height: 31vh;
    background-color:aquamarine; 
    display: flex;
}
#cajas1{
    width: 27.82%;
    height: 30vh;
    background-color: dimgray;
    border-radius: 1em;
    float: left;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
}
#cajas2{
    width: 27.82%;
    height: 30vh;
    background-color:darkkhaki;
    border-radius: 1em;
    float:left;
    margin-left: 10px;
    margin-top: 10px;

}
#cajas3{
    width: 27.84%;
    height: 30vh;
    background-color:dimgray;
    border-radius: 1em;
    justify-content: center;
    float: right;
    margin-left: 10px;
    margin-right: 0.8px;
    margin-top: 10px;
}
.info{
    width: 100%;
    height: 100vh;
    background-color:brown;
    margin-left: 0.7px;
    padding: 15px; 
}

.info h2{ 
    position: absolute;
    top: 10px;
    left: 0.7px
}
.foto2{
    padding: 10px;
    margin-top: 10px; 
    float: right; 
}


#caja3{
    width:100% ;
    height: 19vh;
    background-color:aquamarine;
    margin-left: 10px;
    display: flex;
}
.icons{
    
    display: flex;
    justify-content: center;
    

}
#cajas4{
    width: 41.5%;
    height: 18vh;
    background-color:darkslateblue;
    border-radius: 1em;
    justify-content: center;
    float: right;
    margin-left: 10px;
    margin-right: 0.8px;
    margin-top: 10px;
}
#cajas5{
    width: 41.5%;
    height: 18vh;
    background-color:darkslateblue;
    border-radius: 1em;
    justify-content: center;
    float: right;
    margin-left: 10px;
    margin-right: 0.8px;
    margin-top: 10px;
}


#cajas6{
    width: 65%;
    height: 18vh;
    background-color:darkslateblue;
    border-radius: 1em;
    justify-content: center;
    float: left;
    margin-left: 10px;
    margin-right: 0.8px;
    margin-top: 10px;
}
#cajas7{
    width: 80%;
    height: 30vh;
    background-color:lightseagreen;
    border-radius: 1em;
    justify-content: center;
    float: left;
    margin-left: 10px;
    margin-right: 0.8px;
    margin-top: 10px;
}
.foto3{
    padding: 10px;
    margin-top: 10px; 
    float: right; 
}
#cajas8{
    width: 66%;
    height: 18vh;
    background-color:dimgrey;
    border-radius: 1em;
    justify-content: center;
    float: left;
    margin-left: 10px;
    margin-right: 0.8px;
    margin-top: 10px;
}

.galeria {
    height: calc( 400px + 2em);
    width:40%;
    margin:1em auto;
    border: 1px solid #555;
    position: relative;  
  }
  
.galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
  }
  
.galeria input[type=radio] {
    position: relative;
    bottom: calc(-400px - 1.5em);
    left: .5em;
  }
  
.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  
.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  
.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }




/* End Styles Footer */